<header>
    <div class="container">
        <div class="logo">

            <div class="logo_img">
                <a href="./">Fedor</a>
                <p class="logo_img_p">Закупки</p>
                <img src="./images/arrow.svg" alt="">
            </div>

            <div class="logo_logout">
                <p>Войти</p><img src="./images/logout.svg" alt="">
            </div>


        </div>
        <div class="logo_nav">
            <ul>
                <li>Поиск</li>
                <li>Шаблоны</li>
                <li>Избранное</li>
                <li>Аналитика</li>
                <li>Справочная</li>
                <li>Цены</li>
                <li>Банковская гарантия</li>
            </ul>
        </div>
    </div>
</header>